<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71870073358-ag1uipa0jgspgnsrsn40mbq18s5o6a8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71870073358-ag1uipa0jgspgnsrsn40mbq18s5o6a8s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>71870073358-dnna9prucbugf75q1i2s5fclor5frmrt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCpe3XhtzfWsvqTq6gtBCukj-DxJAXiws</string>
	<key>GCM_SENDER_ID</key>
	<string>71870073358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterJobsApplications</string>
	<key>PROJECT_ID</key>
	<string>flutter-jobs-applications</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-jobs-applications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71870073358:ios:3d34f5d58f2c984ed04a5f</string>
</dict>
</plist>